<header class="bg-white">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">BlogPost</span>
        <img
          class="h-8 w-auto"
          src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
          alt=""
        />
      </a>
    </div>
    <div class="flex lg:hidden">
      <button
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a
        (click)="navigateHome()"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Home</a
      >
      <a
        class="text-sm font-semibold leading-6 text-gray-900"
        (click)="navigateDashboard()"
        >Dashboard</a
      >
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
        >Lorem</a
      >
    </div>
    <div
      class="hidden lg:flex lg:flex-1 lg:justify-end"
      *ngIf="checkLogin(); else contentB"
    >
      <img src="this.user" />
      <button (click)="logout()">logout</button>
    </div>
    <ng-template #contentB>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a
          class="text-sm font-semibold leading-6 text-gray-900 mr-5"
          (click)="openLoginModal()"
          >Log in <span aria-hidden="true">&rarr;</span></a
        >
        <a
          class="text-sm font-semibold leading-6 text-gray-900"
          (click)="openRegisterModal()"
          >Sign up<span aria-hidden="true">&rarr;</span></a
        >
      </div>
    </ng-template>
  </nav>
</header>

<app-login *ngIf="modalService.showModal$ | async"></app-login>
<app-register *ngIf="modalService.showRegisterModal$ | async"></app-register>

<div>
  {{ this.authService.user?.email }}
  {{ this.authService.user?.name }}
  <img src="this.authService.user.profilePic.url" />
  {{ this.authService.user?.profilePic?.url }}
</div>

<router-outlet></router-outlet>
